<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Arke.Sitecore.ComputedSearch.DebugMode" value="false" />
    </settings>
    <pipelines>
      <Arke.Sitecore.ComputedSearch.ComputePresentation>
        <processor type="Arke.Sitecore.ComputedSearch.Pipelines.ComputePresentation.EnsureCrawlerMappings, Arke.Sitecore.ComputedSearch" />
        <processor type="Arke.Sitecore.ComputedSearch.Pipelines.ComputePresentation.EnsureSitePresentation, Arke.Sitecore.ComputedSearch" />
        <processor type="Arke.Sitecore.ComputedSearch.Pipelines.ComputePresentation.GetItemContent, Arke.Sitecore.ComputedSearch" />
        <processor type="Arke.Sitecore.ComputedSearch.Pipelines.ComputePresentation.GetVisualizationContent, Arke.Sitecore.ComputedSearch" />
        <processor type="Arke.Sitecore.ComputedSearch.Pipelines.ComputePresentation.SanitizeSearchContent, Arke.Sitecore.ComputedSearch" />
      </Arke.Sitecore.ComputedSearch.ComputePresentation>
    </pipelines>
  </sitecore>
</configuration>